<ul class="navbar-nav ms-auto">
  <li>
    <div class="dropdown" ngbDropdown placement="auto">
      <a ngbDropdownToggle href="javascript:">
        <i class="icon feather icon-bell" title="Notification"></i>
        @if (totalUnreadCount > 0) {
          <span class="badge bg-danger">{{ totalUnreadCount }}</span>
        }
      </a>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end notification">
        <div class="noti-head">
          <h6 class="d-inline-block m-b-0">Notifications</h6>
          <div class="float-end">
            @if (totalUnreadCount > 0) {
              <a href="javascript:" class="m-r-10" (click)="markAllAsRead()">Tout marquer lu</a>
            }
          </div>
        </div>
        <ul class="noti-body">
          @if (notifications.length > 0) {
            @for (notification of notifications; track notification.jobOfferId) {
              <li class="notification">
                <a [routerLink]="getNotificationLink(notification)" 
                   (click)="markJobOfferAsRead(notification.jobOfferId)" 
                   class="text-decoration-none text-dark">
                  <div class="media">
                    <div class="avtar avtar-s bg-light-primary">
                      <i class="feather icon-briefcase"></i>
                    </div>
                    <div class="media-body">
                      <p>
                        <strong>{{ notification.jobOfferTitle }}</strong>
                        <span class="n-time text-muted">
                          <i class="icon feather icon-clock m-r-10"></i>
                          {{ getTimeAgo(notification.latestApplicationDate) }}
                        </span>
                      </p>
                      <p>
                        {{ notification.unreadCount }} nouvelle{{ notification.unreadCount > 1 ? 's' : '' }} candidature{{ notification.unreadCount > 1 ? 's' : '' }}
                        <span class="badge bg-primary ms-2">{{ notification.unreadCount }}</span>
                      </p>
                    </div>
                  </div>
                </a>
              </li>
            }
          } @else {
            <li class="notification text-center py-3">
              <div class="text-muted">
                <i class="feather icon-bell-off f-20"></i>
                <p class="mt-2 mb-0">Aucune nouvelle notification</p>
              </div>
            </li>
          }
        </ul>
        @if (notifications.length > 0) {
          <div class="noti-footer">
            <a [routerLink]="['/applications']">Voir toutes les candidatures</a>
          </div>
        }
      </div>
    </div>
  </li>
  <li>
    <div class="dropdown drp-user" ngbDropdown placement="auto">
      <a href="javascript:" ngbDropdownToggle>
        <img src="assets/images/user/avatar-1.jpg" class="img-radius wid-40" alt="User-Profile-Image" />
      </a>
      <div class="dropdown-menu dropdown-menu-end profile-notification" ngbDropdownMenu>
        <div class="pro-head">
          <img src="assets/images/user/avatar-1.jpg" class="img-radius" alt="User-Profile-Image" />
          <span>{{ displayName }}</span>
          <a href="javascript:" class="dud-logout" title="Logout">
            <i class="feather icon-log-out"></i>
          </a>
        </div>
        <ul class="pro-body">
          <li>
            <a href="javascript:" class="dropdown-item">
              <i class="feather icon-user"></i>
              Profile
            </a>
          </li>
          <li>
            <a href="javascript:" class="dropdown-item" (click)="logout()">
              <i class="feather icon-lock"></i>
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </li>
</ul>

@if (visibleUserList) {
  <section class="header-user-list" [ngClass]="{ open: visibleUserList }" [@slideInOutLeft]>
    <app-chat-user-list
      (ChatToggle)="onChatToggle($event)"
      (ChatCollapse)="this.visibleUserList = !this.visibleUserList; this.chatMessage = false"
    />
  </section>
}
@if (chatMessage) {
  <section class="header-chat" [ngClass]="{ open: chatMessage }" [@slideInOutLeft]>
    <app-chat-msg (ChatToggle)="this.chatMessage = !this.chatMessage" [friendId]="friendId" />
  </section>
}
@if (visibleUserList) {
  <section class="header-user-list" [ngClass]="{ open: visibleUserList }" [@slideInOutRight]>
    <app-chat-user-list
      (ChatToggle)="onChatToggle($event)"
      (ChatCollapse)="this.visibleUserList = !this.visibleUserList; this.chatMessage = false"
    />
  </section>
}
@if (chatMessage) {
  <section class="header-chat" [ngClass]="{ open: chatMessage }" [@slideInOutRight]>
    <app-chat-msg (ChatToggle)="this.chatMessage = !this.chatMessage" [friendId]="friendId" />
  </section>
}
